################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedList/Palindrome/Palindrome/obj
/LinkedList/Palindrome/Palindrome/bin/Debug/netcoreapp3.0
/LinkedList/Palindrome/Palindrome/.vs/Palindrome/v16
/LinkedList/Palindrome/Palindrome/.vs/Palindrome/DesignTimeBuild
/Stacks-Queues/Stack-Min/bin/Debug/netcoreapp3.0
/Stacks-Queues/Stack-Min/obj
/Stacks-Queues/Stack-Min/.vs/Stack-Min
/Stacks-Queues/StackOfStacks/StackOfStacks/.vs/StackOfStacks/v16
/Stacks-Queues/StackOfStacks/StackOfStacks/bin/Debug/netcoreapp3.0
/Stacks-Queues/StackOfStacks/StackOfStacks/obj
/Stacks-Queues/ThreeInOne/.vs/ThreeInOne
/Stacks-Queues/ThreeInOne/obj
/Stacks-Queues/QueueViaStacks/QueueViaStacks/.vs/QueueViaStacks/v16
/Stacks-Queues/QueueViaStacks/QueueViaStacks/bin/Debug/netcoreapp3.0
/Stacks-Queues/QueueViaStacks/QueueViaStacks/obj
/Stacks-Queues/StackOfStacks/StackOfStacks/.vs/StackOfStacks/DesignTimeBuild
/TreesAndGraphs/RouteBetweenNodes/obj
/Stacks-Queues
/TreesAndGraphs/RouteBetweenNodes
